<!--Pulling Awesome Font -->
<!--HTML -->
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="style.css"> -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
          <%= form_for(:session, url: login_path, html: { class: "no-margin" }) do |f| %>

            <div class="form-login">
            <h4>It is great to see you again</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Email" name="email" />
            </br>
            <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="Password"  name="password" />
            </br>
            <div class="wrapper">

              <%= f.submit 'Log In', class:'btn btn-primary' %>
            </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
