<div class="container">
  <div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        Solo project by Jonathan Sanchez
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2017 Build with the help from Wyncode</p>
      </div>
    </div>
  </div>
</div>
